@import "./styles/Variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: optimizeQuality;
}

.App{
   margin: 0 auto;
   position: relative;
}
input {
    &:focus{
        outline: none;
    }
    &:focus::placeholder{
        color: transparent;
    }
}

a{
    text-decoration: none;
    color: $T-black;
    font-weight: 500;
    &:hover{
        text-decoration: underline;
    }
}
*{
    font-family: "Poppins", sans-serif;
}

button{
    cursor: pointer;
    border: none;
}
h1{
    font-size: 36px;
}