@import "src/styles/Variables.scss";



.line {
  width: 100vw;
  height: 1px;
  background-color: $BG-primary-black;
  opacity: 0.4;
}




.red_button{
  background-color: $Button-red;
  padding: 16px 0;
  border-radius: 5px;

  &:hover{
    background-color: $Button-red-hover;
  }


}

